<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reflection: Easter &mdash; CMT Lent Calendar</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/tailwind.css')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='icons/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='icons/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='icons/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='icons/site.webmanifest')}}">
    <script src="https://unpkg.com/jarallax@2.0"></script>
</head>
<body class="select-none flex flex-col scrollbar scrollbar-track-transparent scrollbar-thumb-primary">
    <header class="snap-start jarallax h-screen flex justify-center items-center text-center" data-jarallax data-speed='0.25'>
        <img src="https://assets.answersingenesis.org/img/cms/content/contentnode/og_image/empty-tomb-easter.jpg" alt="The Resurrection of our Lord Jesus Christ" class="jarallax-img opacity-50 blur">
        <div id="content" class="space-y-6 font-serif">
            <h1 class="font-thin bg-gradient-to-r from-primary/50 to-secondary/50 text-8xl font-serif p-6 lowercase">april 17</h1>
            <p id="title" class="rounded bg-base-100 text-2xl font-serif px-8 py-4 inline-flex justify-center items-center">The Resurrection of our Lord Jesus Christ</p><br>
            <p id="weekday" class="inline-block rounded bg-base-200/50 px-4 py-2 text-lg">ending on Pentecost &mdash; June 5, 2022</p>
        </div>
    </header>
    <main class="snap-start lg:min-h-screen lg:py-10 flex flex-col justify-center items-center text-center gap-8 mt-24">
        <h2 class="font-thin font-serif underline decoration-primary/75 underline-offset-8 text-4xl">Luke 24:1-12</h2>
        <p class="p-8 w-full lg:p-0 lg:w-1/2 lg:text-md leading-6">
            At daybreak on the first day of the week<br>
            the women who had come from Galilee with Jesus<br>
            took the spices they had prepared<br>
            and went to the tomb.<br>
            They found the stone rolled away from the tomb;<br>
            but when they entered,<br>
            they did not find the body of the Lord Jesus.<br>
            While they were puzzling over this, behold,<br>
            two men in dazzling garments appeared to them.<br>
            They were terrified and bowed their faces to the ground.<br>
            They said to them,<br>
            “Why do you seek the living one among the dead?<br>
            He is not here, but he has been raised.<br>
            Remember what he said to you while he was still in Galilee,<br>
            that the Son of Man must be handed over to sinners<br>
            and be crucified, and rise on the third day.”<br>
            And they remembered his words.<br>
            Then they returned from the tomb<br>
            and announced all these things to the eleven<br>
            and to all the others.<br>
            The women were Mary Magdalene, Joanna, and Mary the mother of James;<br>
            the others who accompanied them also told this to the apostles,<br>
            but their story seemed like nonsense<br>
            and they did not believe them.<br>
            But Peter got up and ran to the tomb,<br>
            bent down, and saw the burial cloths alone;<br>
            then he went home amazed at what had happened.<br>
 <br> <span class="font-bold mt-2 inline-block uppercase underline underline-offset-2">The Word of the Lord.</span></p>
        <p class="py-4 px-8 bg-gradient-to-r from-fuchsia-900/50 to-primary/50 rounded lg:max-w-3/4 lg:text-lg font-serif"> <span class="font-bold italic">REFLECTION PRAYER:</span> <br>
            Good and gracious God,<br>
            Our most glorious Creator,<br>
            As we greet the signs in nature around us:<br>
            Of Spring once again regaling us in bloom,<br>
            In the songs of returning birds and fields soon to be planted,<br>
            We give you praise for an even greater sign of new life: the resurrection of your Son,<br>
            Our Lord Jesus Christ, that we especially celebrate at this time.<br>
            The sadness and despair of his death has given way to the bright promise of immortality.<br>
            For the Resurrection is our guarantee that justice will triumph over treason, Light will overcome darkness, and love will conquer death.<br>
            As we celebrate, we also dare to ask for your grace that we may live the promise given to us,<br>
            By imitating the life of Jesus in reaching out to the poor, the marginalized, the least among us,<br>
            We praise you in this Easter season. Change our lives, change our hearts to be messengers of Easter joy and hope.<br>
            We make our prayer through Jesus Christ, our risen Lord forever.<br><br>
            Amen.
        </p>
        <p class="font-serif font-medium text-2xl">
            Holy Angels... <span class="italic font-bold">Watch over us.</span> <br>
            Saint Joseph... <span class="italic font-bold">Pray for us.</span>
        </p>
        <p class="text-lg">In the name of the Father, and of the Son, and of the Holy Spirit.&nbsp;<span class="font-bold">Amen</span></p>
        <hr class="w-full w-1/2 border border-primary/50">
        <div class="font-medium font-serif bg-base-200 p-4 rounded"><span class="font-bold italic">YOUR EASTER CHALLENGE:</span><br />Read every account of Jesus' Resurrection in the Gospel from beginning to end.<br />List of passages:
            <ul>
                <li>Matthew 28</li>
                <li>Mark 16</li>
                <li>Luke 24</li>
                <li>John 20-21</li>
                <li>Acts 1:3&ndash;12</li>
                <li>1 Corinthians 15:3&ndash;8</li>
            </ul>
            Then, with your family or friends, take time and reflect on this story. Think about how Jesus raised himself up from the dead, defeating Satan and death in the process. Think about how God did not hesitate to send his Son down to Earth with us when we needed Him most. Think about how much Jesus had to suffer so that we only have to endure mild sufferings in our own lives when we follow Him.</div>
    </main>
    <footer class="snap-start lg:h-screen grid grid-cols-2 grid-rows-1 place-items-center gap-8 p-8">
        <h2 class="font-thin font-serif underline decoration-primary/75 underline-offset-8 text-4xl">Reflection Image</h2>
        <div class="w-full h-full">
            <img src="https://assets.answersingenesis.org/img/cms/content/contentnode/og_image/empty-tomb-easter.jpg" alt="The Resurrection of our Lord Jesus Christ" class="w-full h-full object-contain">
        </div>
    </footer>
    <a id="return" href="{{url_for('index')}}" class="btn btn-outline fixed top-0 left-0 mt-4 ml-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
        </svg>
        <span class="pl-2 hidden lg:inline">return to homepage</span>
    </a>
</body>
</html>